html {
	box-sizing: border-box;
	position: relative;
	min-height: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	margin-bottom: 60px; /* Margin bottom by footer height */
	padding: 0;
	font-family: 'Cormorant', serif !important;
	font-weight: 500 !important;
	background-color: #f2f2f2 !important;
}

@import 'app.css';
