.loading-indicator-bkg {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.loading-indicator {
	position: absolute;
	margin-top: 6rem;
	left: 50%;
	transform: translate(-40%, -50%) scale(2);
}
.loading-indicator svg polyline {
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.loading-indicator svg polyline#back {
	stroke: rgba(59, 211, 171, 0.3);
}
.loading-indicator svg polyline#front {
	stroke: #3bd3ab;
	stroke-dasharray: 12, 36;
	stroke-dashoffset: 48;
	animation: dash 1s linear infinite;
}
.cta {
	position: fixed;
	bottom: 20px;
	right: 30px;
	color: #222;
	font-weight: bold;
}
@-moz-keyframes dash {
	62.5% {
		opacity: 0;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash {
	62.5% {
		opacity: 0;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@-o-keyframes dash {
	62.5% {
		opacity: 0;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes dash {
	62.5% {
		opacity: 0;
	}
	to {
		stroke-dashoffset: 0;
	}
}
